.loader {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  animation: spinner-rotate 3s linear infinite;
  z-index: 100;
}

.loader_circle {
  fill: none;
  stroke-dasharray: 280;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 5;
  animation: spinner-offset 3s linear infinite;
  stroke: yellow;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

@keyframes spinner-offset {
  0%,
  100% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: -280;
  }
}
