.header {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 50px;
}

.header_link {
  font-size: 20px;
  color: var(--primary-color-blue);
  text-decoration: none;
}

.header_link:hover {
  color: var(--primary-color-blue-hover);
}

.header .active {
  font-weight: 800;
  text-decoration: underline;
}
