* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --primary-color-blue: #1890ff;

  /* secondary colors */
  --secondary-color-blue: #69c0ff;

  /* hovers */
  --primary-color-blue-hover: #096dd9;
  --secondary-color-blue-hover: #40a9ff;
}
